* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: gray;
}

header {
    background-color: white;
    color: rgb(58, 57, 57);
}

nav {
    background-color: black;
    color: white;
    padding: 10px;
}
nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
nav a:hover {
    background-color: whitesmoke;
    color: black;
    transition-duration: 1s;
}

main {
    background-color: white;
    max-width: 1100px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.26);
}